{% extends 'base.html' %}

{% block content %}
    <h1>Zaloguj się</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/" method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <div id="emailHelp" class="form-text user-select-none">Nigdy nie udostępnimy twojego adresu email.</div>
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.login(class="btn btn-dark") }}
            </div>
            <p>
                <a href="/forgot">Zapomniałem hasła</a>
            </p>
        </form>
    </div>



{% endblock %}