<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <i class="fa-regular fa-note-sticky fa-spin" style="color: #ffffff;"></i>
        <a class="navbar-brand" href="/"> Notatnik</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-auto d-flex justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                {% if 'user' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="/add">Dodaj notatkę</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ session['name'] }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/update_profile_pic">Zaktualizuj zdjęcie</a></li>
                            <li><a class="dropdown-item" href="/logout">Wyloguj</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                       <img src="
                            {% if session['img_url'] %}
                                {{ session['img_url'] }}
                            {% else  %}
                                https://firebasestorage.googleapis.com/v0/b/paw-1-32b63.appspot.com/o/images%2Fprofile_pic.png?alt=media
                            {% endif %}
                     "
                     alt="Zdjęcie profilowe" style="aspect-ratio: 1/1" width="30" height="30" class="rounded-circle shadow-lg">
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Zarejestruj</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>