{% extends 'base.html' %}


{% block content %}

    <form action="/signup" method="POST">
        <p>
            <label>
                Email:
                <input type="text" name="email">
            </label>
        </p>
        <p>
            <label>
                Hasło:
                <input type="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,30}$">
            </label>
        </p>
        <p>
            <label>
                Potwierdź hasło:
                <input type="password" name="password2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,30}$">
            </label>
        </p>
        <input type="submit">
    </form>

{% endblock %}