{% extends 'base.html' %}


{% block content %}

    <form action="/signup" method="POST">
        <p>
            <label>
                Email:
                <input type="text" name="email">
            </label>
        </p>
        <p>
            <label>
                Hasło:
                <input type="password" name="password">
            </label>
        </p>
        <p>
            <label>
                Potwierdź hasło:
                <input type="password" name="password2">
            </label>
        </p>
        <input type="submit">
        <p><a href="/">Logowanie</a></p>
    </form>

{% endblock %}