{% extends 'base.html' %}


{% block content %}
    <h1>Zarejestruj się</h1>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form action="/signup" method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <div id="emailHelp" class="form-text">Nigdy nie udostępnimy twojego adresu email.</div>
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control") }}
                <div id="passwordHelpBlock" class="form-text">
                    Twoje hasło musi mieć 6-30 znaków.
                </div>
            </div>
            <div class="mb-3">
                {{ form.register(class="btn btn-dark") }}
            </div>
        </form>
    </div>

{% endblock %}